<ion-view title="REPORT">
  <ion-content>
    <div class="card" ng-repeat="report in reports">
        <div class="item item-text-wrap" ng-click="goToToilet(toilet.id)">
          <div class="row">
            <div class="col col-33 toilet-thumb-container">
              <div style="background: url('img/toilet/{{report.toilet_id}}.jpg') no-repeat;background-size: cover;background-position: center center;border-radius: 50%;width: 80px;height: 80px;" class="toilet-thumb">
              </div>
            </div>
            <div class="col col-67 head-title">
              <h4>{{report.toilet_name}}</h4>
              <p>
                {{report.content}}
              </p>
            </div>
          </div>
          <div class="distance" style="width:130px" ng-show="report.status == 'responded'">
            {{report.status}}
          </div>
        </div>  
    </div>
  </ion-content>
</ion-view>
