<ion-view title="LETTOI">
  <ion-content>
    <div class="card" ng-repeat="report in reports">
        <div class="item item-text-wrap" ng-click="goToToilet(toilet.id)">
          <div class="row">
            <div class="col col-33 toilet-thumb-container">
              <div class="toilet-thumb">
              </div>
            </div>
            <div class="col col-67 head-title">
              <h4>Toilet Imba</h4>
              <p>
                Lorem ipsum sir amet dolomorot
              </p>
            </div>
          </div>
          <div class="distance" style="width:130px">
            Responded
          </div>
        </div>  
    </div>
  </ion-content>
</ion-view>
