<ion-content>
    <!-- <div class="item item-avatar profile-preview">
        <img class="profile-picture" ng-src="{{profile.avatar}}">
        <h2>{{profile.name}}</h2>
        <p><a class="link" ng-click="logout()" href menu-close>Logout</a></p>
    </div> -->
    <div class="item item-avatar profile-preview">
        <img class="profile-picture" src="img/harits.jpg">
        <h2>Muhammad Harits</h2>
        <p><a class="link" ng-click="logout()" href menu-close>Logout</a></p>
    </div>
<ul class="list side-menu-options">
<br>
<a href="#/nearest" class="item" menu-close><i class="icon ion-ios7-location"></i> Nearest</a>
<a href="#/map" class="item" menu-close><i class="icon ion-map"></i> Map</a>
<a href="#/popular" class="item" menu-close><i class="icon ion-star"></i>Popular</a>
<a href="#/listreport" class="item" menu-close><i class="icon ion-paper-airplane"></i>Report</a>
<a href="#/addtoilet" class="item" menu-close><i class="icon ion-android-add"></i>Add Toilet</a>
<a href="#/timeline" class="item" menu-close><i class="icon ion-android-inbox"></i>Timeline</a>
<!-- <h4>Music</h4>
<hr>
<a href="#/home" class="item" menu-close>Discover</a>
<a href="#/trending" class="item" menu-close>Trending</a>
<a href="#/playlist" class="item" menu-close></i>Favorite</a>

<h4>Social</h4>
<hr>
<a href="#/timeline" class="item" menu-close>Timeline</a>

<a href="#/friends" class="item" menu-close>Friends</a>

<a href="#/statistic" class="item" menu-close>Statistic</a>
 -->
</ul>

</ion-content>

<div class="bar bar-footer side-menu-footer">
  <p style="">Copyright &copy; Team SIMBA</p>
</div>