<ion-view title="LETTOI">
  <ion-content>
    <div class="title-banner">
      <h2>Toilet Near You</h2>
    </div>
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" id="small-map2" bounds="map.bounds">
        <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" click="'onClick'" options="'options'" events="'events'">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>
                    <div><strong>{{title}}</strong></div>
                    <div><a href="#/toilet/{{toiletId}}" class="button button-small button-balanced">View Toilet</a></div>
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
      </ui-gmap-marker>
    </ui-gmap-google-map>
    <div class="card" ng-repeat="toilet in toilets">
        <div class="item item-text-wrap" ng-click="goToToilet(toilet.id)">
          <div class="row">
            <div class="col col-33 toilet-thumb-container">
              <div class="toilet-thumb">
              </div>
            </div>
            <div class="col col-67 head-title">
              <h4>{{toilet.name}}</h4>
              <div class="feature">
                <i class="fa fa-icon fa-male fa-lg"></i>
                <i class="fa fa-icon fa-female fa-lg"></i>
                <i class="fa fa-icon fa-wheelchair fa-lg"></i>
              </div>
              <div class="row like-stat">
                <div class="col">
                  <i class="fa fa-icon fa-thumbs-o-up"></i>
                  {{toilet.like}}
                  &nbsp;&nbsp;
                  <i class="fa fa-icon fa-thumbs-o-down"></i>
                  {{toilet.dislike}}
                </div>
              </div>
            </div>
          </div>
          <div class="distance">
            {{toilet.distance}} M
          </div>
        </div>  
    </div>
  </ion-content>
</ion-view>
