<ion-view title="LETTOI">
  <ion-content>
    <div>
      <div class="title-banner">
        <h2>Toilet Near You</h2>
      </div>
      <div class="card">
          <div class="item item-text-wrap">
            <div class="row">
              <div class="col col-33 toilet-thumb-container">
                <div class="toilet-thumb">
                </div>
              </div>
              <div class="col col-67 head-title">
                <h4>Toilet Labtek V ITB</h4>
                <div class="feature">
                  <i class="fa fa-icon fa-male fa-lg"></i>
                  <i class="fa fa-icon fa-female fa-lg"></i>
                  <i class="fa fa-icon fa-wheelchair fa-lg"></i>
                </div>
                <div class="row like-stat">
                  <div class="col">
                    <i class="fa fa-icon fa-thumbs-o-up"></i>
                    151
                    &nbsp;&nbsp;
                    <i class="fa fa-icon fa-thumbs-o-down"></i>
                    37
                  </div>
                </div>
              </div>
            </div>
          </div>  
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-33 toilet-thumb-container">
              <div class="toilet-thumb">
              </div>
            </div>
            <div class="col col-67 head-title">
              <h4>Toilet Labtek VIII ITB</h4>
              <div class="feature">
                <i class="fa fa-icon fa-male fa-lg"></i>
                <i class="fa fa-icon fa-female fa-lg"></i>
                <i class="fa fa-icon fa-wheelchair fa-lg"></i>
              </div>
              <div class="row like-stat">
                <div class="col">
                  <i class="fa fa-icon fa-thumbs-o-up"></i>
                  15
                  &nbsp;&nbsp;
                  <i class="fa fa-icon fa-thumbs-o-down"></i>
                  3
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-33 toilet-thumb-container">
              <div class="toilet-thumb">
              </div>
            </div>
            <div class="col col-67 head-title">
              <h4>Toilet CC Timur ITB</h4>
              <div class="feature">
                <i class="fa fa-icon fa-male fa-lg"></i>
                <i class="fa fa-icon fa-female fa-lg"></i>
                <i class="fa fa-icon fa-wheelchair fa-lg"></i>
              </div>
              <div class="row like-stat">
                <div class="col">
                  <i class="fa fa-icon fa-thumbs-o-up"></i>
                  257
                  &nbsp;&nbsp;
                  <i class="fa fa-icon fa-thumbs-o-down"></i>
                  18
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
