<ion-view title="LETTOI">
  <ion-content>
    <div class="title-banner">
      <h2>Popular</h2>
    </div>
    <div class="card" ng-repeat="toilet in toilets">
      <div class="item item-text-wrap"  ng-click="goToToilet(toilet.id)">
        <div class="row">
          <div class="col col-33 toilet-thumb-container">
            <div class="toilet-thumb">
            </div>
          </div>
          <div class="col col-67 head-title">
            <h4>{{toilet.name}}</h4>
            <div class="feature">
              <i class="fa fa-icon fa-male fa-lg" ng-show="toilet.male==1"></i>
              <i class="fa fa-icon fa-female fa-lg" ng-show="toilet.female==1"> </i>
              <i class="fa fa-icon fa-wheelchair fa-lg" ng-show="toilet.disabled==1"></i>
            </div>
            <div class="row like-stat">
              <div class="col">
                <i class="fa fa-icon fa-thumbs-o-up"></i>
                {{toilet.like}}
                &nbsp;&nbsp;
                <i class="fa fa-icon fa-thumbs-o-down"></i>
                {{toilet.dislike}}
              </div>
            </div>
          </div>
        </div>
        <div class="distance">
          250 M
        </div>
      </div>  
    </div>
  </ion-content>
</ion-view>
