<div class="full-overlay">

<ion-content>

<div class="login-page">
    <div class="login-wrap">
        <div class="logo"></div>
        <div class="hint">register</div>
        <div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="UserID">
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="Password">
		  </label>
		</div>
		<div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="Fullname">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Email">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="No. HP">
		  </label>
		</div>
		<button class="button migme button-block button-balanced" type="submit" ng-click="MigmeLogin()"><i class="ion-person"></i> REGISTER</button>
    </div>
</div>

</ion-content>

</div>