<ion-view title="REPORT">
  <ion-content>
	<div class="list">
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Category
	    </div>
	    <select>
	      <option>Kebersihan</option>
	      <option selected>Fasilitas</option>
	      <option>Kerusakan</option>
	    </select>
	  </label>
	  <label class="item item-input" style="height:100px">
	    <textarea style="min-height:80px;" placeholder="Comments"></textarea>
	  </label>
	  <p class="hint">
	  	<i class="ion-paper-airplane"></i> This will send email and SMS to <em>Dinas Kebersihan Kota Bandung</em>
	  </p>
	  <button style="margin:10px" class="button pull-right">
		  Send
	  </button>
	</div>
  </ion-content>
</ion-view>