<ion-view title="TOILET">
  <ion-content class="map-content" >
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" id="small-map">
      <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" icon="marker.icon">
      </ui-gmap-marker>
    </ui-gmap-google-map>
    <div class="profile-banner">
      <button class="button absolute-right" ng-click="statistic(toilet.id)">
        <i class="ion-stats-bars"></i> Statistic
      </button>

      <button class="button absolute-left" ng-click="report()">
        <i class="ion-paper-airplane"></i> Report
      </button>
      <br>
      <div style="background: url('img/toilet/{{toilet.id}}.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 85px; width: 85px; background-color: #fff; border-radius:50%; margin: 0px auto; padding-top:15px;">
      </div>
      <h2>{{toilet.name}}</h2>
      <p>{{toilet.description}}</p>
      <div class="toilet-clean-level">
        <div class="range range-positive">
          <i class="icon ion-sad"></i>
          <input type="range" name="volume" ng-model="toilet.cleanliness" disabled="disabled" min="0" max="10">
          <i class="icon ion-happy"></i>
        </div>
      </div>
      <div class="toilet-button row">
        <div class="col">
          <button class="button button-block button-balanced" ng-click="status.doLike()"><i class="ion-thumbsup"></i> {{toilet.like}}</button>
        </div>
        <div class="col">
          <button class="button button-block button-assertive" ng-click="status.doDislike()"><i class="ion-thumbsdown"></i> {{toilet.dislike}}</button>
        </div>
      </div>
      <div class="toilet-button row">
        <div class="col">
          <button class="button button-block button-light" ng-click="status.doMale()">
            <i class="fa fa-icon fa-male fa-lg" style="color:#d1d1d1" ng-show="!status.male"></i>
            <i class="fa fa-icon fa-male fa-lg" style="color:#2980b9" ng-show="status.male"></i>
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-light" ng-click="status.doFemale()">
            <i class="fa fa-icon fa-female fa-lg" style="color:#d1d1d1" ng-show="!status.female"></i>
            <i class="fa fa-icon fa-female fa-lg" style="color:#2980b9" ng-show="status.female"></i>
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-light" ng-click="status.doDisable()">
            <i class="fa fa-icon fa-wheelchair fa-lg" style="color:#d1d1d1" ng-show="!status.disabled"></i>
            <i class="fa fa-icon fa-wheelchair fa-lg" style="color:#2980b9" ng-show="status.disabled"></i>
          </button>
        </div>
      </div>
    </div>
  
    <div class="card" ng-repeat="comment in comments">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-20 toilet-thumb-container">
            <div style=" background: url('img/profile/{{comment.user_id}}.jpg') no-repeat;background-size: cover;background-position: center center;border-radius: 50%;width: 50px;height: 50px;" img/profile/harits.jpg class="chat-thumb">
            </div>
          </div>
          <div class="col col-80 head-title">
            <h4>{{comment.name}}</h4>
            <p>{{comment.content}}</p>
          </div>
        </div>
      </div>  
    </div>
    
    <div class="list">
      <label class="item item-input">
        <textarea placeholder="Comments" ng-model="form.newComment"></textarea>
      </label>
      <button class="button button-block button-stable" type="submit" ng-click="comment()"><i class="ion-chatbox-working"></i> Comment</button>
    <div>




  </ion-content>
</ion-view>